.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f3f3f3;
    position: sticky;
    top: 0;
    z-index: 999;
    backdrop-filter: 12px;
    padding: 1rem;
    height: 50px;
    border-bottom: 2px solid lightgrey;
}

.logo{
    font-size: 20px;
}

.logo img{
    width: 200px;
    height: fit-content;
}